<div class="course-card bui-box bui-box-align-top">
  <div class="course-card__thumbnail">
    <img src="http://t7.baidu.com/it/u=2046080325,1937962445&fm=79&app=86&size=h300&n=0&g=4n&f=jpeg?sec=1590287217&t=1a14c64f8b0157e8e1cdc36271687aeb">
  </div>
  <div class="course-card__main span1">
    <div class="course-card__title bui-box-text-hide">计算机二级Office极速通关</div>
    <div class="course-card__text">开课时间：2020年5月12日</div>
    <div class="course-card__text">主讲老师：李老师，王老师</div>
    <div class="course-card__price">2999</div>
  </div>
</div>